<head>
  <title>College is too expensive</title>
</head>

<template name="index">
  <div class="container">
    <section class="problem">
      <h2>
        <i class="fa fa-arrow-up green"></i> Price of college
      </h2>
      <h2>
        Value of education <i class="fa fa-arrow-down red"></i>
      </h2>
    </section>

    {{> listPolls}}
  </div>
</template>

<template name="createPoll">
  <div class="container">
    <input type="text" id="input-title" placeholder="Title" />
    <textarea id="input-text" class="" placeholder="Text"></textarea>
    <input type="text" class="input-option" placeholder="An option" />
    <button id="btn-create">Create poll</button>
  </div>
</template>

<template name="listPolls">
  {{#each polls}}
    {{> pollShow}}
  {{/each}}
</template>

<template name="pollShow">
  <div class="poll-show">
    <blockquote>
      {{text}}
    </blockquote>

    <h1>{{title}}</h1>
    <ul>
      {{#each options}}
        {{>optionShow}}
      {{else}}
        <p>no options for this poll.</p>
      {{/each}}
    </ul>
    {{#if hasVotedInPoll}}
      <button id="btn-remove-vote">Remove vote</button>
    {{/if}}
  </div>
</template>

<template name="optionShow">
  <div>
    <span class="button-wrapper" data-id="{{_id}}">
      {{#if hasVotedForOption}}
        <button class="btn-option-checked" data-id="{{_id}}">&#10004;</button>
      {{else}}
        {{#if hasVotedInPoll}}
          <button class="btn-option" data-id="{{_id}}" disabled>&nbsp;</button>
        {{else}}
          <button class="btn-option" data-id="{{_id}}">&nbsp;</button>
        {{/if}}
      {{/if}}
    </span>
    <span class="option" data-has-voted="{{hasVotedForOption}}" data-has-voted-in-poll="{{hasVotedInPoll}}">
      {{votes}} - {{text}}
    </span>
  </div>
</template>
